#SearchBar
    
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 50%
    >input
        border-radius: 5px
        font-size: 16px
        line-height: 2em
        width: 70%
        &:invalid
            border-left: 5px solid red
        &:valid
            border-left: 5px solid green
        &:placeholder-shown
            border-left:  2px solid  rgb(118,118,118)
    >div
        display: flex

        >input
        
            flex-shrink: 1
            border-radius: 0
        button
            color: white
            min-width: 55px
            aspect-ratio: 1.2/1
            background-color: #0d6efd
            border: 1px solid white
           
            &:hover
                background-color: #0b5ed7
                border: 1px solid #0a58ca
 
        
     
#Popup
    position: relative
    cursor: pointer
#Unknown
    max-width: 85vw
    padding: 1em
    position: absolute
    background-color: white
    z-index: 1
    border: 1px solid black
    flex-direction: column
    min-width: 150px
    min-height: 150px
    justify-content: center
    >img
        border: 1px solid black
        align-self: center
    > div[class= "spinner"]
        align-self: center
    > button
        cursor: pointer
        position: absolute
        top: 1px
        right: 1px
        background-color: #0d6efd
        color: white
        border: 0
        padding: 0.5em
        border-radius: 3px
        width: 2em
        line-height: 1em
        aspect-ratio: 1/1
        align-self: flex-end
        &:hover
            background-color:#e35d6a
    > *
        margin-bottom: 3px
#List
    align-self: stretch
    padding-left: 0
    > li
        margin-bottom: 4px
        list-style: none
        &:hover
            outline-color: black
            outline-width: 1px
            outline-style: solid
            outline-offset: 2px
        > div
            > div
                &:first-child
                    &:hover
                        color: #0d6efd